<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - WebFayre</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> 

    <!-- Costume styling -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>


<body>
    <div id="wrapper">
        <!-- #################### STARTING HEADER ####################  -->
        <!-- navbar-expand-md breakpoint at 768px to change from mobile to full -->
        <!-- #################### STARTING HEADER ####################  -->
        <div id="header" class="header-homer fixed">
            <div class="container">

                <a id="logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <!-- <img width="165" height="80" > -->
                    <img src="~/img/logo-no-background.png" alt="WebFayre">
                    <div class="clearfix"></div>
                </a>

                <div id="header-right">
                    <div class="header-right-user">

                        <a class="btn-user btn btn-sm btn-primary btn-login" asp-area="" asp-controller="Home" asp-action="Login">Login</a>

                        <a class="btn-user btn btn-sm btn-primary btn-login" asp-area="" asp-controller="Home" asp-action="Register">Register</a>

                        <a class="btn-user btn btn-sm btn-primary btn-login" asp-area="" asp-controller="Home" asp-action="RedirectProfile">Profile</a>

                        <a class="btn-user btn btn-sm btn-primary btn-login" asp-area="" asp-controller="Feiras" asp-action="RedirectToForm">Promo</a>

                        <a class="btn-user btn btn-sm btn-primary btn-login" asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- xxxxxxxxxxxxxxxxxxxx ENDING HEADER xxxxxxxxxxxxxxxxxxxx -->

        @RenderBody()

        <!-- Footer -->
        <div id="footer" class="invisible">
            <div class="row text-center">
                <div class="col-12">
                    <hr class="light">
                    <h5>&copy; 2022 - WebFayre - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h5>
                    <h5><a class="nav-link" asp-area="" asp-controller="Utilizadores" asp-action="ForgotPassword">About</a></h5>
                </div>
            </div>            
        </div>
        <div class="clearfix"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- --------- bootstrap js ------------------->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Custom Javascript file -->
    <script src="~/js/site.js" asp-append-version="true"></script> 


    @{await RenderSectionAsync("Scripts", required: false);}
    
</body>
</html>