
.vs/ProjectEvaluation/webfayre.metadata.v5.2
.vs/ProjectEvaluation/webfayre.projects.v5.2
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/WebFayre/DesignTimeBuild/.dtbcache.v2
.vs/WebFayre/FileContentIndex/0a4c18f2-ba2a-4e4d-a3b4-3b9cfe06d209.vsidx
.vs/WebFayre/FileContentIndex/4c5dc3bf-80b0-432f-a28a-be835c3cee1a.vsidx
.vs/WebFayre/FileContentIndex/6e090106-ebc9-4434-93a3-23081cce9e2c.vsidx
.vs/WebFayre/FileContentIndex/88c452e3-acf3-4f08-b777-6627837acb75.vsidx
.vs/WebFayre/FileContentIndex/ad68675a-0048-40d2-ba29-cb10255a7f94.vsidx
.vs/WebFayre/FileContentIndex/afc72fc7-6c32-4796-8e3e-c08215bc8f40.vsidx
.vs/WebFayre/FileContentIndex/c04111ff-0956-415b-b1d8-bf56715b5852.vsidx
.vs/WebFayre/FileContentIndex/e66daccc-7ced-4ca3-a64b-aa236502bd1d.vsidx
.vs/WebFayre/v17/.futdcache.v2
.vs/WebFayre/v17/.suo
.vs/WebFayre/v17/.wsuo
.vs/ProjectEvaluation/webfayre.metadata.v5.2
.vs/ProjectEvaluation/webfayre.projects.v5.2
.vs/WebFayre/DesignTimeBuild/.dtbcache.v2
.vs/WebFayre/FileContentIndex/4c5dc3bf-80b0-432f-a28a-be835c3cee1a.vsidx
.vs/WebFayre/FileContentIndex/6e090106-ebc9-4434-93a3-23081cce9e2c.vsidx
.vs/WebFayre/FileContentIndex/88c452e3-acf3-4f08-b777-6627837acb75.vsidx
.vs/WebFayre/FileContentIndex/ad68675a-0048-40d2-ba29-cb10255a7f94.vsidx
.vs/WebFayre/FileContentIndex/d8c70c36-8553-4041-bd74-fa3fb64b22da.vsidx
.vs/WebFayre/v17/.futdcache.v2
.vs/WebFayre/v17/.suo
.vs/WebFayre/v17/.suo
.vs/WebFayre/v17/.futdcache.v2
.vs/WebFayre/FileContentIndex/ad68675a-0048-40d2-ba29-cb10255a7f94.vsidx
.vs/WebFayre/FileContentIndex/88c452e3-acf3-4f08-b777-6627837acb75.vsidx
.vs/WebFayre/FileContentIndex/6e090106-ebc9-4434-93a3-23081cce9e2c.vsidx
.vs/WebFayre/FileContentIndex/4c5dc3bf-80b0-432f-a28a-be835c3cee1a.vsidx
.vs/WebFayre/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/webfayre.projects.v5.2
.vs/ProjectEvaluation/webfayre.metadata.v5.2
*.2
*.vsidx
appsettings.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/WebFayre.dll
bin/Debug/net7.0/WebFayre.exe
bin/Debug/net7.0/WebFayre.pdb
bin/Debug/net7.0/WebFayre.staticwebassets.runtime.json
Models/WebFayreContext.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/project.razor.vs.json
obj/Debug/net7.0/ref/WebFayre.dll
obj/Debug/net7.0/refint/WebFayre.dll
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets/msbuild.WebFayre.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net7.0/WebFayre.assets.cache
obj/Debug/net7.0/WebFayre.csproj.AssemblyReference.cache
obj/Debug/net7.0/WebFayre.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/WebFayre.csproj.FileListAbsolute.txt
obj/Debug/net7.0/WebFayre.csproj.GenerateResource.cache
obj/Debug/net7.0/WebFayre.dll
obj/Debug/net7.0/WebFayre.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/WebFayre.genruntimeconfig.cache
obj/Debug/net7.0/WebFayre.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net7.0/WebFayre.assets.cache
obj/Release/net7.0/WebFayre.csproj.AssemblyReference.cache
obj/Release/net7.0/WebFayre.GeneratedMSBuildEditorConfig.editorconfig
obj/WebFayre.csproj.nuget.dgspec.json
obj/WebFayre.csproj.nuget.g.props
