@model WebFayre.Models.Categoriafeira

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categoriafeira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feiras)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var feira in Model.Feiras)
            {
                @Html.DisplayFor(m => feira.Nome)

            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCategoriaFeira">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
