@model IEnumerable<WebFayre.Models.Stand>

@{
    ViewData["Title"] = "Index";
}

<div id="main-wrapper">
    <div class="container">
        <div id="stand-content">
            <section class="block-area block-area-home">
                <div class="block-area-header">
                    <div class="float-left fv-heading mr-4">
                        <h2 class="fav-heading">Stands</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <div class="block-area-content block-area-list fairs-list fairs-list-grid">
                        <div class="fairs-list-wrap">
                        @foreach (var item in Model)
                        {
                            <div class="stand-item">
                                <div class="fairs-poster">
                                    <img class="fairs-poster-img lazyload" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="@item.Nome">
                                </div>
                                <div class="fairs-detail">
                                    <h3 class="fairs-name">
                                        <a class="dynamic-name" asp-area="" asp-controller="Produtos" asp-action="ProdutosByStand" asp-route-id="@item.IdStand">@item.Nome</a>
                                    </h3>                                    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                           
                        }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <div class="paginationFairs"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>