@{
    ViewData["Title"] = "Home Page";
}

<!-- WELCOME Section -->
<div class="container-fluid padding">
    <div class="row about text-center">
        <div class="col-12">
            <h1 class="display-4"> Welcome to WebFayre </h1>
        </div>
        <hr />
    </div>
</div>

<!-- SEARCH BAR -->
<div class="container-fluid padding">
    <div class="row search-bar text-center">
        <div class="col-12">
            <form>
                <div class="input-group">
                    <input type="search" placeholder="Search ... " class="form-control" />
                    <div class="input-group-append">
                        <div class="btn-grou">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                            <!--
                            <button type ="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search
                            </button> -->
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Carousel displaying favorite fairs cards -->
<div class="carousel-slide">
  
    <h1 class="text-center"> Favorites </h1>

    <div class="row">
        <div class="col-12">
            <div class="carousel-indicators">
                <button type="button" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <!-- Cards to be displayed int he carousel -->
                    <div class="card">
                        <img src="..." class="card-img-top" alt="feiras">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Index">Feiras</a>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <!-- Cards to be displayed int he carousel -->
                    <div class="card">
                        <!-- wrapping images so they have they have releatively the same size -->

                        <img src="..." class="card-img-top" alt="img2">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Funcoes" asp-action="Index">Funcoes</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <!-- Cards to be displayed int he carousel -->
                    <div class="card">
                        <img src="..." class="card-img-top" alt="img3">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            
            </div>

            <!-- Previous and Next buttons on the side to control carousel-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>

        </div>
    </div>
</div>