@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*-- General style to all pages --*/
*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --handle-size: 3rem;
    --img-gap: 0.25rem;
    /* Colors */
    --btnColor2: #FFAA33;
    --btnColor: #FFA500;
    --txtColor: #FF4500;
    --bgColor: #FF7F50;
}
html {
    position: relative;
    color: #222;
}
body {
    background: url('../img/webFayre_bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Poppins, Arial;
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none
}


a {
    color: #fff;
    text-decoration: none !important;
    outline: 0;
    -moz-outline: none
}

    a:hover {
        color: var(--txtColor);
    }


.container {
    width: 100%;
}

.container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 100px
}


/* HEADER STYLING: LOGOS and BUTTONS */
#header #logo {
    display: block;
    height: 40px;
    margin: 0;
    float: left
}

    #header #logo img {
        height: 180%;
        width: auto
    }

    #header #logo span {
        line-height: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #fff !important
    }

.btn-primary {
    background: none !important;
    color: var(--btnColor) !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

    .btn-primary:hover {
        color: var(--txtColor)!important;
        background-color: transparent;
        border-color: transparent;
        transform: scale(1.2)!important;
    }

#header {
    background: #ffffff;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    padding: 0
}


    #header .container {
        position: relative;
        padding-left: 15px
    }

.header-setting {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    margin-left: 20px
}

.header-group, .header-setting {
    margin-left: 30px
}

#header-right {
    float: right;
    text-align: center;
    height: 70px;
    position: relative;
    padding: 15px 0;
}


#header .btn-user {
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-weight: 400;
    margin-left: 15px
}


#header.active {
    z-index: 102
}



.text-gray{
    color: var(--text-gray);
}

/* 1 rem/em = 16px */
.navbar{
    padding: .8rem; 
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}


.btn-primary {
    background-color: #FC7F03;
    border: 1px solid #C35817;
}

.btn-primary:hover {
    background-color: #C35817;
    border: 1px solid #C35817;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.about {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.about hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.extra {
    width:100%;
    margin-bottom: 2rem;
}
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/

.btn-profile {
    margin-top: 1.5rem;
    background-color: #FC7F03;
    color:#fff;
    border: 1px solid #C35817;
}
    .btn-profile:hover{
        background-color: #FFFF;
    }

.modal-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../img/webFayre_bg.png');
    overflow: hidden;
}

/*-- Search bar and Carousel displayed on index page --*/
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/
.search-bar {
    width:65%;
    margin: 0 auto;
}


/* #################### favorite section #################### */
/*-- Container where the carousel will be displayed --*/
.carousel-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-slider{
    --cards-per-screen: 5;
    --slider-index: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
    
}

.carousel-slider .card{
    flex: 0 0 calc(100%/ var(--cards-per-screen));
    max-width: calc(100%/ var(--cards-per-screen));
    aspect-ratio: 16/9;
    padding: var(--img-gap);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
    color: orangered;
    margin: 0 var(--img-gap);
}

.carousel-slider .card-body {
    padding: var(--img-gap);
}

.carousel-slider .card-body > img {
    /*-- flex grow 0, flex shrink 0, width is 25%  --*/
    flex: 0 0 25%;
    max-width: 100%;
    aspect-ratio: 16/9;
    padding: 0 var(--img-gap);
}

.carousel-slider .card-title {
    padding: var(--img-gap);
}
.carousel-slider .card-text {
    padding: 0 var(--img-gap);
}

.carousel-handler {
    border: none;
    border-radius: .75rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255,69,0, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    
}

.carousel-handler:hover,
.carousel-handler:focus {
    background-color: rgba(255,69,0, .5);
}

.carousel-handler:hover .carousel-control-prev-icon {
    transform: scale(1.2);
}

.carousel-handler:hover .carousel-control-next-icon {
    transform: scale(1.2);
}
.previous {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.next{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel:hover {
    background-color: rgba(0 ,0 ,0, .5);
}

.favorite {
    height: 100vh;
    width: 100%;
}

.favorite .favorite-post {
    padding-top: 6rem;
}
.favorite-post .favorite-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.favorite-content .feira-title{
    padding: 2rem 0;
}

.favorite-content.btn-feira{
    padding: .7rem 2rem;
    background: var(--btnColor);
    margin: .5rem;
}

.favorite-content span{
    display: block;
}


.slider-row {
}

.slider-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.fav{
    font-size: 2rem;
    margin: 0;
}

.slider-track{
    display: flex;
    gap: .25rem;
}

.track-item {
    flex: 0 0 2rem;
    min-width: 2rem;
    height: .3em;
    background-color: rgba(249, 105, 14, .65);
}

.track-item.active {
    background-color: rgba(249, 105, 14, 1);
}
/* XXXXXXXXXXXXXXXXXXXXX favorite section ending XXXXXXXXXXXXXXXXXXXXXX */



/* #################### display cards section #################### */
.displayContainer {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayContainer .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem;
}

.displayContainer .card-display{
    position: relative;
    background: rgba(0 ,0 ,0, .5);
    max-width: 325px;
    height: auto;
    margin: 2rem;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    overflow:hidden;
}

.displayContainer .card-image{
    flex: 0 0 25%;
    max-width: 100%;
    aspect-ratio: 16/9;
    padding: var(--img-gap);
}

.displayContainer .card-image img{
    max-width: 200px;
    height: auto;

}

.card-info{
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
}

.card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}
.card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}


/* !!!!!!!!!!! NEEDS WORK STYLING !!!!!!!!!!!!!!!*/
.paginationFairs {
    text-align: center;
    margin: .5rem .5rem 1rem;
    user-select: none;
}

    .paginationFairs li {
        display: inline-block;
        margin: .25rem;
        box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    }

        .paginationFairs li a {
            color: #C35817!important;
            text-decoration: none;
            font-size: 1.2em;
            line-height: 20px;
        }

.previous-page, .next-page {
    background: #ccc;
    width: 5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.activePage {
    background: var(--btnColor)
}

.disablePage {
    background: rgba(0, 0, 0, 0.75);
}

.previous-page:hover {
    transform: translateX(-.25rem);
}

.next-page:hover {
    transform: translateX(+.25rem);
}

/* XXXXXXXXXXXXXXXXXXXXX display cards section ending XXXXXXXXXXXXXXXXXXXXXX */



/* UPCOMING EVENTS STYLING */
#main-wrapper {
    margin-bottom: 70px;
    min-height: calc(100vh - 350px);
}

#main-content {
    width: 75%;
    float: left;

}

#favorite-content{
    width: 100%;
}

#main-sidebar{
    width: 25%;
    float:right;

}

#stand-content{
    width:100%;
    float: left;

}

.block-area {
    display: block;
    margin-bottom: 30px;

}

.block-area {
    position: relative;
}

.cbox.cbox-search{
    padding: 1rem 1rem;
    display: inline-block;
    width: 100%;
    position: relative;
}

.fairs_list {
    display: block
}

.fairs-list .fairs-list-wrap {
    margin: 0 -7px;
    list-style: none;
    padding: 0
}

    .fairs-list .fairs-list-wrap .flw-item, .fairs-list .fairs-list-wrap .fav-item {
        width: calc(25% - 14px);
        margin: 0 7px 14px;
        float: left;
        background: #2a2c31;
        border-radius: 0;
        position: relative
    }

    .fairs-list .fairs-list-wrap .stand-item {
        width: calc(16% - 14px);
        margin: 0 7px 14px;
        float: left;
        background: #2a2c31;
        border-radius: 0;
        position: relative
    }

.fairs-poster {
    width: 100%;
    padding-bottom: 148%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,.1);
    display: block
}

.fairs-list .fairs-list-wrap .flw-item .fairs-poster,
.fairs-list .fairs-list-wrap .stand-item .fairs-poster, 
.fairs-list .fairs-list-wrap .fav-item .fairs-poster {
    border-radius: 0;
    padding-bottom: 100%;
    font-size: 0
}

.fairs-poster .fairs-poster-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.fairs-list .fairs-list-wrap .flw-item .fairs-detail,
.fairs-list .fairs-list-wrap .stand-item .fairs-detail, 
.fairs-list .fairs-list-wrap .fav-item .fairs-detail {
    color: #aaa;
    font-size: 12px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    min-height: 84px
}

    .fairs-list .fairs-list-wrap .flw-item .fairs-detail .fairs-name,
    .fairs-list .fairs-list-wrap .fav-item .fairs-detail .fairs-name {
        font-size: 14px;
        line-height: 1.3em;
        margin: 0;
        font-weight: 500;
        margin-bottom: 8px;
        height: 36px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden
    }
    .fairs-list .fairs-list-wrap .stand-item .fairs-detail .fairs-name {
        font-size: 14px;
        line-height: 1.3em;
        margin: 0;
        font-weight: 200;
        margin-bottom: 8px;
        height: 52px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden
    }

    .fairs-list .fairs-list-wrap .flw-item .fairs-detail .fd-infor, 
    .fairs-list .fairs-list-wrap .flw-item .fairs-detail .fd-infor {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: horizontal;
        overflow: hidden
    }
 

.fdi-item {
    white-space: nowrap
}
.fdi-preço {
    white-space: nowrap;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255,255,255,.3);
    display: inline-block;
    margin: 3px 6px
}

.tick.fav {
    right: .6em;
}

.tick {
    position: absolute;
    top: 10px;
    z-index: 10;
}

    .tick.fav .tick-item {
        margin-right: -15px;
    }
    .tick.fav:hover{
        transform: scale(1.2);
        cursor: pointer;
    }

.tick-item {
    font-size: 42px;
    font-family: arial;
    font-weight: 200;
    display: inline-block;
    line-height: .6em;
    padding: 2px 4px;
    border-radius: 2px;
    background: none;
    color: #FFA500;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

/* XXXXXXXXXXXXXXXXXXXXX MAIN FAIR INFO PAGE XXXXXXXXXXXXXXXXXXXXXX */


.quantity {
    display: flex;
}

    /* it will support chrome and firefox */
    .quantity input[type=number]::-webkit-inner-spin-button,
    .quantity input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .quantity input, .quantity button {
        color: white;
        width: 12px;
        padding: 0;
        font-size: 1rem;
        text-align: center;
        font-weight: 200;
        background: transparent;
        border: transparent;
    }

    .quantity input {
        border-left: none;
        border-right: none;
    }

/*-- Bottom of the page styling starts --*/
#footer {
    position: relative;
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0;
    margin-bottom: 45px;
}
/*-- Bottom of the page styling ends --*/

/*-- LOGIN PAGE STYLE--*/
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/

.form-login {
    width: 30%;
    margin: 0 auto;
    padding: 2rem 4rem;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}


.profile {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 4rem;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}
.cart {
    width: 70%;
    min-height: 250px;
    margin: 0 auto;
    padding: 2rem 2rem;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}




/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/webFayre_bg.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








