@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*-- General style to all pages --*/
*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --handle-size: 3rem;
    --img-gap: 0.25rem;
    /* Colors */
    --btnColor: #FFAA33;
}
html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
body {
    background: url('../img/webFayre_bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

/*-- Bottom of the page styling starts --*/
#footer {
    padding: 2rem;
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
/*-- Bottom of the page styling ends --*/

.text-gray{
    color: var(--text-gray);
}

/* 1 rem/em = 16px */
.navbar{
    padding: .8rem; 
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}


.btn-primary {
    background-color: #FC7F03;
    border: 1px solid #C35817;
}

.btn-primary:hover {
    background-color: #C35817;
    border: 1px solid #C35817;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.about {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.about hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.extra {
    width:100%;
    margin-bottom: 2rem;
}
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/



/*-- Search bar and Carousel displayed on index page --*/
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/
.search-bar {
    width:65%;
    margin: 0 auto;
}


/* #################### favorite section #################### */
/*-- Container where the carousel will be displayed --*/
.carousel-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-slider{
    --cards-per-screen: 5;
    --slider-index: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
    
}

.carousel-slider .card{
    flex: 0 0 calc(100%/ var(--cards-per-screen));
    max-width: calc(100%/ var(--cards-per-screen));
    aspect-ratio: 16/9;
    padding: var(--img-gap);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
    color: orangered;
    margin: 0 var(--img-gap);
}

.carousel-slider .card-body {
    padding: var(--img-gap);
}

.carousel-slider .card-body > img {
    /*-- flex grow 0, flex shrink 0, width is 25%  --*/
    flex: 0 0 25%;
    max-width: 100%;
    aspect-ratio: 16/9;
    padding: 0 var(--img-gap);
}

.carousel-slider .card-title {
    padding: var(--img-gap);
}
.carousel-slider .card-text {
    padding: 0 var(--img-gap);
}

.carousel-handler {
    border: none;
    border-radius: .75rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255,69,0, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    
}

.carousel-handler:hover,
.carousel-handler:focus {
    background-color: rgba(255,69,0, .5);
}

.carousel-handler:hover .carousel-control-prev-icon {
    transform: scale(1.2);
}

.carousel-handler:hover .carousel-control-next-icon {
    transform: scale(1.2);
}
.previous {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.next{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel:hover {
    background-color: rgba(0 ,0 ,0, .5);
}

.favorite {
    height: 100vh;
    width: 100%;
}

.favorite .favorite-post {
    padding-top: 6rem;
}
.favorite-post .favorite-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.favorite-content .feira-title{
    padding: 2rem 0;
}

.favorite-content.btn-feira{
    padding: .7rem 2rem;
    background: var(--btnColor);
    margin: .5rem;
}

.favorite-content span{
    display: block;
}

.container{
    margin: 0 5vw;
}

.slider-row {
}

.slider-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.fav{
    font-size: 2rem;
    margin: 0;
}

.slider-track{
    display: flex;
    gap: .25rem;
}

.track-item {
    flex: 0 0 2rem;
    min-width: 2rem;
    height: .3em;
    background-color: rgba(249, 105, 14, .65);
}

.track-item.active {
    background-color: rgba(249, 105, 14, 1);
}
/* XXXXXXXXXXXXXXXXXXXXX favorite section ending XXXXXXXXXXXXXXXXXXXXXX */



/* #################### display cards section #################### */
.displayContainer {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayContainer .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem;
}

.displayContainer .card-display{
    position: relative;
    background: rgba(0 ,0 ,0, .5);
    max-width: 325px;
    height: auto;
    margin: 2rem;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow:hidden;
}

.displayContainer .card-image{
    max-height: 200px;
}

.displayContainer .card-image img{
    max-width: 200px;
    height: auto;

}

.card-info{
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
}

.card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}
.card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}


/* !!!!!!!!!!! NEEDS WORK STYLING !!!!!!!!!!!!!!!*/
.pagination-card {
    text-align: center;
    margin: .5rem .5rem 1rem;
    user-select: none;
}
.pagination-card li {
    display: inline-block;
    margin: .25rem;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination-card li a {
    color: #C35817;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}   

.prvPage, .nxtPage {
    background: #ccc;
    width: 5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.prvPage:hover{
    transform: translateX(-.25rem);
}
.nxtPage:hover {
    transform: translateX(+.25rem);
}

.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.actPage{
    background: var(--btnColor)
}

.disable{
    background: rgba(0, 0, 0, 0.75);
}
/* XXXXXXXXXXXXXXXXXXXXX display cards section ending XXXXXXXXXXXXXXXXXXXXXX */




/* #################### MAIN FAIR INFO PAGE #################### */

.details-content{
    display: grid;
    grid-template-columns: 70% 30%;

}

.fairs-content{
    width:100%;
    margin-bottom: 5rem;
}

.details-content .fairs-content > .fairs-image, .fairs-title{
    padding: 1rem 2rem;
    position: relative;

}

.details-content .fairs-content > .fairs-image .fairs-info {
    background: #ff8e76;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

.details-content .fairs-content > .fairs-image > div{
    overflow:hidden;
}
.details-content .post-content > .fairs-image .fairsImg{
    width: 100%;
}

/* XXXXXXXXXXXXXXXXXXXXX MAIN FAIR INFO PAGE XXXXXXXXXXXXXXXXXXXXXX */


/* #################### PROFILE DISPLAY PAGE #################### */

/* XXXXXXXXXXXXXXXXXXXXX PROFILE DISPLAY PAGE XXXXXXXXXXXXXXXXXXXXXX */

/*-- LOGIN PAGE STYLE--*/
/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/

.form-login {
    width: 30%;
    margin: 0 auto;
    padding: 2rem 4rem;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}


.profile {
    width: 30%;
    margin: 0 auto;
    padding: 2rem 4rem;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}



/*-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --*/
/*-- Favorites display home page 
.img-wrapper{
    max-width: 100%;
    height: 13em;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.carousel-inner{
    display: flex;
    padding: 7em;
    width: 100%;
}

.carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.card {
margin: 0 .5em;
border-radius: 0;
box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18)
}


    --*/



/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/webFayre_bg.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








