
    <h2>Finalizar Compra</h2>
    @using (Html.BeginForm("FinalizePurchase", "Produtos"))
    {       

        <span>NIF:</span><input name="nif" id="nif" value=@(ViewBag.Nif) />
        <span>TEL:</span><input name="tel" id="tel" value=@(ViewBag.Telemovel) />
        <input type ="submit" id="s" value="MBWAY" onclick="deleteCart()"/> 
    }
